@page "/access-denied"

<div class="container mt-5">
    <div class="alert alert-warning">
        <h4>Access Denied</h4>
        <p>You do not have permission to access this page.</p>
        <a href="/login" class="btn btn-primary">Go to Login</a>
    </div>
</div>